.square {
  height: 200px;
  width: 200px;
  border-radius: 4px;
  background-color: #ec625c;
  touch-action: none;
  transform: translate(10%) rotate(45deg);
  transform-origin: top;
  clip-path: inset(10px 20px 30px 40px);
}
